﻿@{
    ViewBag.Title = "Confirm Email";
    Layout = null;
}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Test Application</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/site.css" rel="stylesheet">
    <link href="~/Content/css/global.css" rel="stylesheet">
    <link href="~/Content/css/plugins/social-buttons/social-buttons.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="form-conteiner text-center">
        <div class="m-b-lg">
            <img alt="Icarus Logo" class="center-block" src="~/Content/img/logo.png" height="90" width="250" />
        </div>
        <h3>
            Confirm Email
        </h3>
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="login-colums">
            <p class="text-muted">
                Message was sent to the email with instructions for confirm. <br>Log in to the specified email and confirm to complete the registration.
            </p>
            <div class="form-group">
                @Html.ActionLink("Sign in", "Login", "Account", null, new { @class = "btn btn-outline btn-block btn-success" })
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}