﻿@using MVCWebSiteTest.Models
@model  LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;

}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Test Application</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/site.css" rel="stylesheet">
    <link href="~/Content/css/global.css" rel="stylesheet">
    <link href="~/Content/css/plugins/social-buttons/social-buttons.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="form-conteiner text-center">
        <div class="m-b-lg">
            <img alt="Icarus Logo" class="center-block" src="~/Content/img/logo.png" height="90" width="250" />
        </div>
        <h3>Sign In</h3>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="login-colums">
                <div class="form-group text-left">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Login, new { @class = "form-label" })*@
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Login", required = "" })
                    @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "form-label" })*@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.ActionLink("I forgot password", "ForgotPassword", "Account", null, new { @class = "text-left" })
                </div>
                <div class="checkbox pull-left">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe) Remember Me
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </div>
                <div class="form-group">
                   @*@Html.ActionLink("Sign in with Facebook", "FacebookLogin", "Account", null, new { @class = "btn btn-block btn-social btn-facebook" })*@
                    <a href="@Url.Action("FacebookLogin", "Account")" id="loginFacebook" class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> Sign in with Facebook
                    </a>
                </div>
                <div class="form-group">
                    @Html.ActionLink("CREATE AN ACCOUNT", "Register", "Account", null, new { @class = "btn btn-outline btn-success btn-block" })
                </div>
            </div>
        }
    </div>
    <script src="~/Content/js/libs/jquery-2.1.1.js"></script>
    <script src="~/Content/js/libs/bootstrap.min.js"></script>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}