﻿@using MVCWebSiteTest.Models
@model  RegisterViewModel
@{
    ViewBag.Title = "Register New Account";
    Layout = null;
}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Test Application</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/global.css" rel="stylesheet">
    <link href="~/Content/css/site.css" rel="stylesheet">
    <link href="~/Content/css/plugins/social-buttons/social-buttons.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="form-conteiner text-center">
        <div class="m-b-lg">
            <img alt="Icarus Logo" class="center-block" src="~/Content/img/logo.png" height="90" width="250" />
        </div>
        <h3>Register New Account</h3>
        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group text-left">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="container">
                <div class="register-columns-table">
                    <div class="register-columns">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Login" })
                            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="register-columns">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail address" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Age, new { @class = "form-control", placeholder = "Age" })
                            @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="register-columns">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Create new account</button>
                        <div class="pull-left">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label">Agree the <a href="#">terms and policy</a></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group m-t-lg">
                        @Html.ActionLink("Sign in", "Login", "Account", null, new { @class = "btn btn-outline btn-block btn-success" })
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}