﻿@using MVCWebSiteTest.Models
@model ResetPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Test Application</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/site.css" rel="stylesheet">
    <link href="~/Content/css/global.css" rel="stylesheet">
    <link href="~/Content/css/plugins/social-buttons/social-buttons.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="form-conteiner text-center">
        <div class="m-b-lg">
            <img alt="Icarus Logo" class="center-block" src="~/Content/img/logo.png" height="90" width="250" />
        </div>
        <h3>Reset password</h3>
        @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl, Code = Model.Code, UserId = Model.UserId }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="login-colums">
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword", required = "" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </div>
                <div class="form-group">
                    @Html.ActionLink("Sign in", "Login", "Account", null, new { @class = "btn btn-outline btn-block btn-success" })
                </div>
            </div>
        }
    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}