﻿@using MVCWebSiteTest.Models
@{
    ViewBag.Title = "ASP.NET Identity";
}

@section HeaderSection{
    <div class="col-lg-12">
        <h1 class="m-b-xs">Admin Panel</h1>
    </div>
}

@section BodySection{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Users
        </div>
        <div id="jsGrid"></div>
    </div>
}
@section Scripts{
    <link href="~/Content/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <script src="~/Content/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/JsGrid.js"></script>

}