﻿
@{
    ViewBag.Title = "Role Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderSection{
    <div class="col-lg-12">
        <h1 class="m-b-xs">Role Settings</h1>
    </div>
}

@section BodySection{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Roles
        </div>
        <div id="jsGridRoles"></div>
    </div>
    @*<div class="row">
        <div class="col-md-3">
            @using (Html.BeginForm("CreateRole", "AdminPanel", FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="roleName" class="form-label">Role Name:</label>
                    <input class="form-control" id="roleName" type="text" value="" />
                </div>
                <div>
                    <div class="form-group pull-right" id="butCreateRole">
                        <input type="button" class="btn btn-primary btn-block" value="Create Role" />
                    </div>
                </div>
            }
        </div>*@
    </div>
    @*<div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("CreateRole", "AdminPanel")" class="btn btn-success pull-right" id="addRole">
                    <i class="fa fa-archive"></i><span class="bold">&nbsp;&nbsp;Create Role</span>
                </a>
            </div>
        </div>*@
}
@section Scripts{
    <link href="~/Content/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <script src="~/Content/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/JsGrid.js"></script>
    <script src="~/Content/js/RoleSettings.js"></script>
}
