﻿@using System.Collections.Generic
@model Dictionary<string, object>

@{
    ViewBag.Title = "ASP.NET Identity";
}
@section HeaderSection{
    <div class="col-lg-12">
        <h1 class="m-b-xs">Home</h1>
    </div>
}
@section BodySection{
    <div class="panel panel-primary">
        <div class="panel-heading">Данные пользователей</div>
        <table class="table table-striped">
            @foreach (string key in Model.Keys)
            {
                <tr>
                    <th>@key</th>
                    <td>@Model[key]</td>
                </tr>
            }
        </table>
    </div>
    }