﻿@using Entities
@model UserProfile
@{
    ViewBag.Title = "Student Cabinet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderSection{
    <div class="col-md-8">
        <h1 class="m-b-xs">Student Cabinet</h1>
    </div>
}
@section BodySection{
    <div class="row">
        <div class="col-md-12">
            <div class="p-xs">
                <h1 class="text-uppercase">Tolia Melnyk</h1>
                <div class="m-t-lg">
                    <a class="btn btn-warning" id="editInfo">
                        <i class="fa fa-info"></i><span class="bold">&nbsp;Edit Info</span>
                    </a>
                    <a class="btn btn-success" id="Mydatepicker">
                        <i class="fa fa-calendar"></i><span class="bold">&nbsp;Set Study Date</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t">
        <div class="col-md-6">
            @using (Html.BeginForm("EditStudentInfo", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                <div class="panel panel-default">
                    <div class="table-responsive" id="tableInfo">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                        <input type="hidden" id="idStudent" value="@Model.Id" />
                        <table class="table">
                            <tr>
                                <td>Login:</td>
                                <td class="edit" id="loginStudent">@Model.UserName</td>
                            </tr>
                            <tr>
                                <td>First Name:</td>
                                <td class="edit" id="fNameStudent">@Model.FirstName</td>
                            </tr>
                            <tr>
                                <td>Last Name:</td>
                                <td class="edit" id="lNameStudent">@Model.LastName</td>
                            </tr>
                            <tr>
                                <td>Age:</td>
                                <td class="edit" id="ageStudent">@Model.Age</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td class="edit" id="emailStudent">@Model.Email</td>
                            </tr>
                            <tr>
                                <td>Registered Date :</td>
                                <td class="edit" id="rDateStudent">@Model.RegDate</td>
                            </tr>
                            <tr>
                                <td>Study Date :</td>
                                <td class="edit" id="sDateStudent">@Model.StudyDate</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3 pull-right">
                    <div class="form-group" id="butSaveInfo" style="visibility:hidden">
                        <input type="button" class="btn btn-primary btn-block" value="Save Info" />
                    </div>
                </div>
            }
                <div>
                    <p id="textFormError" class="text-danger" hidden> 
                    </p>
                </div>
        </div>
    </div>
}
@section Scripts{
    <link href="~/Content/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <script src="~/Content/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/StudentInfo.js"></script>
}