﻿@using MVCWebSiteTest.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="~/Content/css/plugins/jsGrid/jsgrid.min.css" rel="stylesheet">
    <link href="~/Content/css/plugins/jsGrid/jsgrid-theme.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/site.css" rel="stylesheet">

</head>
<body class="skin-blue sidebar-mini wysihtml5-supported" style="height: auto; min-height: 100%;">
    <div id="wrapper">
        <!-- Main Side Menu -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <a href="@Url.Action("StudentCabinet", "Home")">
                                    <img alt="Logo" class="center-block" src="~/Content/img/logo1.png" width="150" height="50" />
                                </a>
                            </span>
                        </div>
                        <div class="logo-element">
                            <a href="#">
                                <img alt="Logo" class="center-block" src="~/Content/img/logo-element.png" width="40" height="40" />
                            </a>
                        </div>
                    </li>
                    @*<li class="@(Html.IsActive(controller: "Home", action: "Index") ? "active" : "")">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">Home</span>
                        </a>
                    </li>*@
                    <li class="@(Html.IsActive(controller: "Home") ? "active" : "")">
                        <a href="@Url.Action("StudentCabinet", "Home")">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">Student Cabinet</span>
                        </a>
                    </li>
                    @if (Html.IsAdmin(User.Identity.Name))
                    {
                    <li class="@(Html.IsActive(controller: "AdminPanel", action: "Index") ? "active" : "")">
                        <a href="@Url.RouteUrl(RouteNames.AdminPanel)">
                            <i class="fa fa-gears"></i>
                            <span class="nav-label">Admin Panel</span>
                        </a>
                        @*<ul class="nav nav-second-level">
                                <li class="@(Html.IsActive("index", "Admin") ? "active" : "")">
                                    <a href="#">Search Products</a>
                                </li>
                            </ul>*@
                    </li>
                    <li class="@(Html.IsActive(controller: "AdminPanel", action: "RoleSettings") ? "active" : "")">
                        <a href="@Url.Action("RoleSettings", "AdminPanel")">
                            <i class="fa fa-archive"></i>
                            <span class="nav-label">Role Settings</span>
                        </a>
                        @*<ul class="nav nav-second-level">
                                <li class="@(Html.IsActive("index", "Admin") ? "active" : "")">
                                    <a href="#">Search Products</a>
                                </li>
                            </ul>*@
                    </li>
                    }
                    @*<li class="special_link">
                        <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Contact IcarTeam</span></a>
                    </li>*@
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <!-- Secondary Top Menu -->
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            @Html.Action("UserEmailConfirm", "Home")
                        </li>
                        <li>
                            <div id="userInfo">
                                @Html.Action("UserLogin", "Home")
                            </div>
                        </li>
                        @*<li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="">
                &nbsp;<i class="fa fa-envelope"></i><span id="messageCount" class="label label-warning"></span>
            </a>
            <ul id="messages" class="dropdown-menu dropdown-messages partialContents" data-url="@(homeUrl + "user/GetNewMessages/")"></ul>
        </li>*@
                        <li>
                            <a href="@Url.Action("SignOut", "Account")">
                                <i class="fa fa-sign-out"></i>Sign out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /.top-menu -->

            <div class="wrapper wrapper-content">
                <!-- Header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="row">
                                    @RenderSection("HeaderSection", required: true)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderSection("BodySection", required: true)
            </div>

            <div class="footer">
                <div class="pull-right">
                    <!-- Social Media or other links -->
                </div>
                <div>
                    <span class="copyright">Copyright &copy; IcarTeam 2014-@DateTime.Now.Year</span>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Custom and plugin javascript -->
    <script src="~/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/js/libs/inspinia.js"></script>

    <!-- jQuery UI -->
    <script src="~/Content/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/Content/js/plugins/jsGrid/jsgrid.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>