﻿.relative {
    position: relative;
}

.img-center {
    margin: 0 auto;
}

#searchForm {
    position: relative;
}

.searchpopup {
    margin-top: 10px;
    padding: 0;
    position: absolute;
    text-align: center;
    z-index: 1000;
}

#loadingIcon {
    margin: 0 10px;
    display: none;
}

/*CONFIGURATOR*/
.tableForSceleton {
    padding-bottom: 10px;
}

    .tableForSceleton .btn {
        padding: 6px;
    }

    .tableForSceleton td {
        padding: 1px;
    }

        .tableForSceleton td input {
            /*color: #777777;*/
            font-size: 12px;
            font-weight: bold;
            font-family: "Trebuchet MS", Arial,Verdana;
        }

#sceletonTableDiv td {
    font-size: 12px;
    font-weight: normal;
}

#ddlGetPage {
    width: 100px;
    display: inline-block;
}

/*PRODUCT*/
.product-number-help {
    font-size: 16px;
    font-weight: 200;
}

    .product-number-help .big-text {
        font-size: 22px;
        font-weight: 600;
        color: #1ab394;
    }

    .product-number-help .orange {
        color: #f8ac59;
    }


div.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 999;
    /* display: none; */
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.overlay > div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -38px;
    margin-top: -9px;
}

.form-control[readonly] {
    cursor: default;
    background-color: white;
}

.conf-clearcell {
    width: 7px;
    height: 7px;
    display: inline-block;
    background: url("../img/common/cnfCrest.png") no-repeat;
}

    .conf-clearcell:hover {
        background: url("../img/common/cnfCrest2.png") no-repeat;
    }

#notes-pills pre {
    background: none;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.form-conteiner{
    padding-top:100px;
}
.register-columns-table {
    display: inline-flex;
    padding: 20px 0px 20px 0px;
}
.register-columns {
    width: 350px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
}
@media screen and (max-width: 767px) {
    .register-columns-table {
        display: block;
    }
}
.login-colums {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

/*div table*/
.container-div-table {
    width: 100%;
}

@media (min-width: 576px) {
    .container-div-table {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-div-table {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-div-table {
        max-width: 960px;
    }
}

@media (min-width: 1280px) {
    .container-div-table {
        max-width: 100%;
    }
}
.row-div-table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.divTable {
    overflow: hidden;
}
    .divTable a {
        color: black;
        text-decoration: none;
    }

        .divTable a:hover {
            color: black;
            text-decoration: none;
            background: #dcf7f1;
        }

.divTableRow {
    padding: 3px 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e5ec;
}
.divTableHeader {
    padding: 10px 5px;
}
.divTableCell {
    overflow:hidden;
    padding: 10px 5px;
}

/* rows */
.jsgrid-row > .jsgrid-cell {
    background-color: white;
}

/* alternate rows */
.jsgrid-alt-row > .jsgrid-cell {
    background-color: #F0F0F0;
}

/* editing row */
.jsgrid-edit-row > .jsgrid-cell {
    background-color: #dcf7f1;
}
.jsgrid-selected-row > .jsgrid-cell {
    background-color: #dcf7f1;
    border-color: #dcf7f1;
}
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}