﻿@using Entities
@model UserProfile
@{
    Layout = null;
}
@functions
{
    string GetCssClass(string roleName)
    {

        switch (roleName)
        {
            case "Admin":
                return "color-primary";
            case "User":
                return "color-warning";
            default:
                return "";
        }
    }
}
@if (Model != null)
{
    <div style="display:grid">
        <span class="m-r-sm text-muted welcome-message">@(Model.FirstName) @(Model.LastName)</span>
        <span class="m-r-sm text-muted text-right @GetCssClass(Model.RoleName) welcome-message">@(Model.RoleName)</span>
    </div>
}