﻿@model bool
@{
    bool emailConfirmed = Model;
    Layout = null;
}
@if (!emailConfirmed)
{
    <div class="m-r-md blink">
        <p class="text-danger">
            Email not verified
        </p>
    </div>
}